/*style for the website background*/
body {
    color: white;
    max-width: 70%;
    min-width: 700px;
    margin:0 auto; /* centering */
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

img.main {
    border-radius: 50%;
}

/*style for navigation tabs*/
nav ul, footer ul {
    font-size: 1.1 em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 9px;
    list-style: none;
    text-align: center;
}

nav ul li, footer ul li {
    color:black;
    display: inline;
    margin-right: 20px;
}

/*standard page subdivision*/
div.content {
    background-color: #003366;
    margin: 10px auto 20px;
    border:1px solid#d4af37;
    padding: 10px;
}